name: Performance Testing CI

# Kiedy test ma się uruchomić?
on:
  push:
    branches: [ "main" ] # Uruchom na push do gałęzi main
  pull_request:
    branches: [ "main" ] # Uruchom na Pull Requesty do main
  workflow_dispatch:      # Dodatkowa opcja: uruchamianie ręczne z GUI GitHub

jobs:
  performance_test:
    name: Uruchomienie Testu k6
    runs-on: ubuntu-latest # Testy puszczamy na maszynie wirtualnej Linuxa

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      # KROK 1: Konfiguracja repozytorium k6
      # Bez tego apt-get nie wie, gdzie znaleźć pakiet 'k6'
      - name: Configure K6 repository
        run: |
          sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642185FA99E5B5E630BAEEA
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          
      # KROK 2: Instalacja k6
      - name: Install k6
        run: sudo apt-get install k6

      # KROK 3: Uruchomienie testu
      - name: Run k6 Load Test
        run: k6 run ${{ github.workspace }}/tests/smoke-test.js
        env:
          BASE_URL: ${{ vars.DEFAULT_BASE_URL || 'https://test.k6.io' }}

      # KROK 4: Sprawdzenie wyniku 
      - name: Check K6 Results
        if: always()
        run: |
          echo "K6 test completed with exit code $?"
          if [ $? -ne 0 ]; then
            echo "Test FAILED due to Threshold/SLA breach."
            exit 1
          fi